/* header-index*/
@import "vars";
.hero {
    height: 100vh;
    background-image: map-get($variantes, $background), url(../assets/phel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
  }
  
  /*header-hobbie*/
  
  .hero__hobbie {
      @extend .hero;
    background-image:map-get($variantes, $background ), url(../assets/corejj.jpg);
  }
  
  .hero .container .hero__hobbie {
    padding: 0;
  }
  
  .hero__title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .hero__title--hobbie {
    text-align: left;
    margin-bottom: 30px;
    font-size: 3.2rem;
    margin-left: 7rem;
  }
  
  .hero__subtitle--hobbie {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 7rem;
  }
  /*section-text-header*/
  
  .hero__container {
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    color: #ffff;
  }
  
  .hero__texts {
    width: 80%;
    margin-bottom: 50px;
  }
  
  .hero__title {
    font-size: 3.2rem;
  }
  
  .hero__subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 7rem;
  }