@import "vars";

@mixin input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid map-get($variantes, $color-primario);
    resize: none;
}