/*Navegador*/

.navbar {
    align-items: center;
    font-weight: 700;
  }
  
  #botonera ul li a {
    font-size: 1.2rem;
  }
  
  /*Navegador-pages*/
  
  #botonera__pages {
    background-color: #667eea;
  
    ul li a {
      font-size: 1.2rem;
    }
  }
  
  .nav__img {
    height: 5rem;
    margin-left: 20px;
  }
  
  .nav__links {
    display: flex;
    margin-right: 20px;
    list-style-type: none;
  }
  
  .nav__link {
    color: #ffff;
    padding: 30px;
    text-decoration: none;
    font-weight: inherit;
    scroll-margin-top: 10ex;
  
    &:hover {
      color: #c5b2c3;
    }
  }