//custom-proper
$background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
$color-primario: #667eea;
$variantes:(
    $background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%),
    $color-primario: #667eea
);

/*Funciones-generales-para-uso*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
  }  